@charset "UTF-8";

/* 全体共通 */
:root {
  --primary-color: rgba(101, 216, 255, 0.65);
  --secondary-color: white;
  --drawer-width: 280px;
  --peek-offset: 160px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

a {
  text-decoration: none;
}

/* header共通 */
header {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
}

#header_index {
  background-image: url("../images/background_index.jpg");
}

#header_story {
  background-image: url("../images/background_story.jpg");
}

#header_characters {
  background-image: url("../images/background_characters.jpg");
}

#header_voicecast {
  background-image: url("../images/background_voicecast.jpg");
}

#header_review {
  background-image: url("../images//background_review.jpg");
}

header::before {
  pointer-events: none;
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6));
  transition: opacity 3s ease;
}

header:hover::before {
  opacity: 0;
}

header .header_top {
  grid-area: top;
  height: 7vh;
  padding: 0.5vh;
  display: flex;
  gap: 20rem;
  align-items: center;
  z-index: 1000;
}

header .header_top .logoimg {
  margin-left: 2rem;
  height: 6vh;
}

header .header_top img:hover {
  filter: brightness(0.8);
  cursor: pointer;
  transition: 0.4s ease;
}

header .header_top ul {
  display: flex;
  list-style: none;
  gap: 7rem;
}

header .header_top ul a {
  color: var(--secondary-color);
  font-size: 1.25rem;
}

header .header_top ul a:hover {
  filter: brightness(0.7);
  transition: 0.4s ease;
}

header .header_top:hover {
  background-color: var(--primary-color);
  transition: 0.8s ease;
}

header .header_top img {
  height: 100%;
}

header .header_middle {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header .header_middle h2 {
  align-self: center;
  font-size: 3rem;
  padding: 1rem 1.5rem;
  color: white;
  background-color: var(--primary-color);
  border-radius: 1rem;
  white-space: nowrap;
}

/* main共通 */


/* main_story */
#storypage1 #storycontent1,
#storypage2 #storycontent2,
#storypage3 #storycontent3 {
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--primary-color);
  padding: 2rem;
  margin-left: 8vw;
}

#main_story section div .eyebrow {
  color: var(--secondary-color);
  margin-bottom: -1rem;
}

#storypage1 h3,
#storypage2 h3,
#storypage3 h3 {
  color: var(--secondary-color);
  font-size: 3rem;
}

#storypage1 p,
#storypage2 p,
#storypage3 p {
  color: var(--secondary-color);
  font-size: 1.5rem;
  line-height: 2rem;
}

#storypage1 {
  background-image: url("../images/story1.png");
}

#storypage2 {
  background-image: url("../images/story2.png");
}

#storypage3 {
  background-image: url("../images/story3.png");
}

/* main:characters-voicecast-review 共通背景 */

#characterspage,
#voicecastpage,
#reviewpage {
  background-image: url("../images/background_char-voicecast.jpg");
}

/* main_characters */

#characterspage .characters {
  height: 100vh;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: left;
  justify-content: center;
}

#characterspage .characters div {
  display: flex;
  gap: 3vw;
}

#characterspage .characters section {
  width: 20vw;

  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 2rem;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  text-align: center;
  gap: 0.5vh;
}


.characters> :nth-child(2) {
  justify-content: right;
}

#characterspage .characters section img {
  width: 10vw;
  border-radius: 10px;
}

/* voicecast */
#voicecastpage .voicecast {
  height: 100vh;
  padding: 2rem;

  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

#voicecastpage .voicecast div {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

#voicecastpage .voicecast> :nth-child(1) {
  align-self: flex-start;
}

#voicecastpage .voicecast> :nth-child(2) {
  align-self: flex-end;
}

#voicecastpage .voicecast section {

  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 2rem;
  border-radius: 10px;

  display: grid;
  grid-template-areas:
    "img h3"
    "img p";
  grid-column-gap: 2rem;
}

#voicecastpage .voicecast section h3 {
  grid-area: h3;
}

#voicecastpage .voicecast section p {
  grid-area: p;
}

#voicecastpage .voicecast section img {
  grid-area: img;
  height: 17vh;
  border-radius: 10px;
}

/* ------------------------- review ------------------------- */
#main_review .review {
  display: flex;
  height: 100vh;
  gap: 2vw;
  justify-content: center;
  align-items: center;
}

/*第一div*/
#main_review .review> :nth-child(1) {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 0;
}

/*第二div*/
#main_review .review> :nth-child(2) {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#main_review .review> :nth-child(1)> :nth-child(1) {
  align-self: flex-start;
}

#main_review .review> :nth-child(1)> :nth-child(2) {
  align-self: flex-end;
}

#main_review .review> :nth-child(2) {
  align-self: center;
}

#main_review .review section {
  display: grid;
  grid-column-gap: 1.5vw;
  grid-row-gap: 1vh;
}

#main_review .review> :nth-child(1) section {
  grid-template-areas:
    "padding bubble"
    "profile bubble"
    "h3 p";
}

#main_review .review> :nth-child(2) section {
  grid-template-areas:
    "bubble padding"
    "bubble profile"
    "p h3";
}

#main_review .review section img {
  grid-area: profile;
  width: 13vw;
  border-radius: 50%;
  justify-self: center;
}

#main_review .review section h3 {
  grid-area: h3;
  justify-self: center;
  background-color: var(--primary-color);
  padding: 0.3rem 2.5rem;
  border-radius: 10px;
  text-align: center;
  color: var(--secondary-color);
  font-size: 1.5rem;
}

/* speechbubbleのafterはtool.cssに入っている */
#main_review .review section .speech-bubble {
  grid-area: bubble;
  text-align: center;
  width: 30vw;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 10px;
  padding: 1.5rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* footer共通 */
footer {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

footer p {
  color: var(--secondary-color);
}